<md-list class="destiny-list">
    <md-subheader class="md-no-sticky"><i class="fa fa-code-fork"></i> Selecionar Destino ({{$ctrl.destinations.length}} destinos):</md-subheader>
    <ion-content style="top:56px;">
        <md-list-item class="md-2-line" collection-repeat="destiny in $ctrl.destinations" item-height="70" md-no-ink ng-click="$ctrl.onDestinyClick({ destiny: destiny })">
            <div class="md-list-item-text">
                <h4 class="text-padding"><strong>{{ destiny.identificador}}</strong> - {{ destiny.logradouro}}
                </h4>
                <div class="destiny-list__reference">{{ destiny.bairro}} - {{ destiny.municipio}}</div>
            </div>
            <md-divider></md-divider>
        </md-list-item>
    </ion-content>
</md-list>