<div class="feedback-form">
    <div class="panel-inner">
        <span>{{vm.description}}</span>
        <div ng-show="vm.showLine">
            <md-input-container>
                <label>Nº da Linha</label>
                <input type="number" ng-model="vm.line">
            </md-input-container>
        </div>
        <div ng-show="vm.showStop">
            <md-input-container>
                <label>Nº do Ponto</label>
                <input type="number" ng-model="vm.stop">
            </md-input-container>
        </div>
        <div ng-show="vm.showTime">
            <md-input-container>
                <label>Hora</label>
                <input type="time" ng-model="vm.date">
            </md-input-container>
        </div>
        <div ng-show="vm.showText">
            <md-input-container>
                <label>Descreva seu problema:</label>
                <textarea ng-model="vm.text" md-maxlength="1000" rows="5" md-select-on-focus></textarea>
            </md-input-container>
        </div>
    </div>
    <div class="submit-wrapper">
        <button class="send-button md-primary md-button md-espm-theme" ng-click="vm.send()">ENVIAR</button>
    </div>
</div>