<ion-view>
    <ion-nav-title>
        Detalhes da Obra
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <back-button></back-button>
    </ion-nav-buttons>
    <spinner ng-if="uiState.loading"></spinner>
    <ion-content>
        <div class="public-works-detail" ng-if="vm.detail">
            <!-- componenu subheader-->
            <md-subheader>
                {{vm.detail.label}}
            </md-subheader>
            <div class="public-works-detail__items public-works-detail__items--is-{{vm.detail.status}}">
                <div class="row">
                    <div class="col col-50">
                        <div class="public-works-detail__item-label">Custo</div>
                        <div class="public-works-detail__item-description public-works-detail__item-description--is-value">{{vm.detail.value | currency}}</div>
                    </div>
                    <div class="coll col-50">
                         <div class="public-works-detail__item-label">&nbsp;</div>
                         <public-works-status status="vm.detail.status"></public-works-status>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-50">
                        <div class="public-works-detail__item-label">Município</div>
                        <div class="public-works-detail__item-description">{{vm.detail.city}}</div>
                    </div>
                    <div class="col col-50">
                        <div class="public-works-detail__item-label">Órgão Responsável</div>
                        <div class="public-works-detail__item-description">{{vm.detail.origin}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-50">
                        <div class="public-works-detail__item-label">Data</div>
                        <div class="public-works-detail__item-description public-works-detail__item-description--is-date">{{vm.detail.date}}</div>
                    </div>
                    <div class="col col-50">
                        <div class="public-works-detail__item-label">Tipo</div>
                        <div class="public-works-detail__item-description">{{vm.detail.type}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="public-works-detail__item-label">Descrição Detalhada</div>
                        <div class="public-works-detail__item-description">{{vm.detail.description}}</div>
                    </div>
                </div>
                 <div class="row">
                    <div class="col">
                        <div class="public-works-detail__item-label">Situação Detalhada</div>
                        <div class="public-works-detail__item-description">{{vm.detail.fullStatus}}</div>
                    </div>
                </div>
            </div>
            <!--last-update component-->
            <last-update date="vm.lastUpdate"></last-update>
        </div>
        <error-message error="uiState.error"></error-message>
    </ion-content>
</ion-view>