#transparency-dashboard-component {
    background-color: #f1f1f1;
    padding-top: 5px;
}

#transparency-dashboard-component .grid {
    display: flex;
    flex-wrap: wrap;
}

#transparency-dashboard-component .grid > .grid-item {
    display: flex;
    flex-direction: column;
    flex: 1 1 150px;
    min-height: 150px;
    justify-content: center;
    margin: 1px;
    background-color: #fff;
    border-radius: 2px;
    text-transform: inherit;
    line-height: inherit;
    border-style: solid;
    border-width: 5px 7px 7px 4px;
    -moz-border-image: url(./img/bg-shadow-0.png) 5 7 7 4 repeat;
    -webkit-border-image: url(./img/bg-shadow-0.png) 5 7 7 4 repeat;
    -o-border-image: url(./img/bg-shadow-0.png) 5 7 7 4 repeat;
    border-image: url(./img/bg-shadow-0.png) 5 7 7 4 repeat;
}

#transparency-dashboard-component .grid .image {
    text-align: center;
    font-size: 3em;
    margin-bottom: 10px;
}

#transparency-dashboard-component .grid *{
    color: #49889a;
}

#transparency-dashboard-component .grid .expenses *{
    color: #b14139;
}
#transparency-dashboard-component .grid .revenues *{
    color: #73905a;
}
#transparency-dashboard-component .grid .expenses i {
    transform: rotate(180deg) scaleX(-1);
}



#transparency-dashboard-component .grid .image-stack {
    font-size: 1em;
}

#transparency-dashboard-component .grid .item-title {
    white-space: normal;
    text-align: center;
}
