<div layout="column" class="year-filter">
    <div class="year-filter-header">Selecione o ano a ser consultado</div>
    <label class="item item-input item-select">
        <div class="input-label">
            Ano
        </div>
        <select ng-model="$ctrl.year">
             <option ng-repeat="year in ::$ctrl.availableYears" value="{{::year}}">{{::year}}</option>
        </select>
  </label>
    <md-button class="md-raised md-accent" md-ink-ripple="false" ng-click="$ctrl.selectFilter($ctrl.year)">Consultar</md-button>
</div>