#secure-warning-component {
    background-color: #208baa;
}

#secure-warning-component > div {
	display: flex;
    flex-direction: column;
}

#secure-warning-component > div > .text-content {
    color: #ffffff;
    font-size: 1.3em;
    text-align: center;
    display: flex;
    flex: 1 1 auto;
    align-items: center;
}

#secure-warning-component .espm-home-logo {
    flex: 2 1 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#secure-warning-component img {
	max-width: 200px;
    max-height: 167px;
    height: 100%;
}

#secure-warning-component .wrap-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    flex: 2 1 auto;
}

#secure-warning-component button {
	width: 75%;
	font-size: 1.1em;
	font-weight: 500;
	color: #fff;
    height: 56px;
    min-width: 200px;
}
