<div>
    <div id="nlBurger">
        <div id="burger-top"></div>
        <div id="burger-center"></div>
        <div id="burger-bottom"></div>
    </div>
    <div id="nlIcon">
        <div id="dot-top"></div>
        <div id="dot-center"></div>
        <div id="dot-bottom"></div>
    </div>
    <div id="nlDimm" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></div>
    <div id="nlSwipe" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></div>
    <div id="nlDrawer"></div>
    <div id="nlToast" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); bottom: 1rem; transition: all 0.2s ease; transform: translate(0px, 640px) translateZ(0px) rotate(0deg);">I'm a Toast! Yummy!</div>
</div>