/********************** Map **********************/

.keyboard-open .transcol-online .stop-info {
	transform: translate3d(0px, 110vh, 0px);
}

// ajusta tamanho da  lista quando teclaso está aberto para ocupar toda area dispoível
.keyboard-open .transcol-online .auto-complete-panel md-list {
	height: calc( ( 100vh / 2 ) + 20px  ) !important;
}

.transcol-online {

	> div.scroll {
		overflow: hidden;
	}

	#map{
		height: 100vh;
		width: 100vw;
	}


	/********************** Markers **********************/
	.bus-stop-icon {
		border: 3px solid darked;
		background: #fff;
		border-radius: 50px;
	}

	.marker {
		color: rgb(185, 91, 104);
	}

	.marker .azimute {
		content: "";
		position: absolute;
		width: 47%;
		height: 43px;
		top: -50%;
		z-index: -1;
		background: url('img/seta_ponto_de_parada_dark.png') 50% 9% no-repeat;
		left: 30%;
		transform-origin: 44% 75%;
	}

	// gera classes para rotate (azimute)
	@for $i from 0 through 180 {
		.marker.dir-#{$i} .azimute { transform: rotate(#{$i}deg);}
		.marker.dir--#{$i} .azimute { transform: rotate(-#{$i}deg);}
	}

	.marker > i {
		border: 2px solid #b95b68;
		border-radius: 60px;
		background: #fff;
		padding: 5px 7px;
		font-size: 1.5em;
	}

	.marker-terminal > i {
		border-radius: 0px;
	}
	.marker-terminal > i:before {
		content: "T";
		font-weight: bold;
		font-family: verdana;
	}
	.marker-terminal .azimute, 
	.marker-destination .azimute {
		display:none;
	}

	// destination marker
	.marker-destination {
		color: #003e50;
		z-index: 9999 !important;
	}

	.marker-destination > i {
		border: 3px solid #003e50;
	}

	.marker-available-destination {
		color: #628b96;
	}

	.marker-available-destination> i {
		border: 2px solid #628b96;
	}

	// origin marker
	.marker-origin {
		color: darkgoldenrod;
		z-index: 9999 !important;
	}
	.marker-origin > i {
		border: 3px solid darkgoldenrod;
	}

	// secondary marker
	.marker-secondary {
		display: none;
		color: #d2cdce;
	}

	.marker-secondary > i {
		border: 2px solid #d2cdce;
	}

	.marker-secondary .azimute {
		background: url('img/seta_ponto_de_parada_light.png') 50% 9% no-repeat;
	}

	// spin marker
	.marker-spin > i {
		padding: 6px;
		font-size: 1.4em;
	}



	/********************** Cluster **********************/
	.marker-cluster-small {
		background-color: rgba(185, 91, 104, 0.8);
	}
	.marker-cluster-small div {
		background-color: rgb(185, 91, 104);
	}

	.marker-cluster-medium {
		background-color: rgba(185, 91, 104, 0.8);
	}
	.marker-cluster-medium div {
		background-color: rgb(185, 91, 104);
	}

	.marker-cluster-large {
		background-color: rgba(185, 91, 104, 0.8);
	}
	.marker-cluster-large div {
		background-color: rgb(185, 91, 104);
	}

	.marker-cluster {
		background-clip: padding-box;
		border-radius: 20px;
	}
	.marker-cluster div {
		width: 30px;
		height: 30px;
		margin-left: 5px;
		margin-top: 5px;

		text-align: center;
		border-radius: 15px;
		font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	}
	.marker-cluster span {
		line-height: 30px;
		color: #fff !important;
	}

/********************** Bus Stop Info **********************/
	.origin { color: darkgoldenrod; }
	.destination{ color: #003e50; }

	stop-summary { cursor: pointer; }

	$bottomSheetHeight: 100vh;

	destination-list,
	prevision-list { visibility: hidden; }
	destination-list.shown,
	prevision-list.shown,
	.auto-complete-panel > * { visibility: visible !important; }

	.stop-info
	{
		width: 100%;
		// outline: 10px solid #dcd9c5;
		height: 100vh;
		z-index: 999;
		transform: translate3d(0px, 110vh, 0px);
		background: white;
		position: absolute;
		bottom: 0px;
		padding: 35px 15px 15px 10px;
		display: flex;
		flex-direction: column;
		-webkit-transition: all 400ms cubic-bezier(0.420, 0.000, 0.000, 0.990); 
		-moz-transition: all 400ms cubic-bezier(0.420, 0.000, 0.000, 0.990); 
		-o-transition: all 400ms cubic-bezier(0.420, 0.000, 0.000, 0.990); 
		transition: all 400ms cubic-bezier(0.420, 0.000, 0.000, 0.990); /* custom */
		-webkit-box-shadow: 0px -2px 5px -1px rgba(0,0,0,0.49);
		-moz-box-shadow: 0px -2px 5px -1px rgba(0,0,0,0.49);
		box-shadow: 0px -2px 5px -1px rgba(0,0,0,0.49);
	}

	.stop-info--origin {
		transform: translate3d(0, calc( 100vh - 98px), 0)
	}
	
	.stop-info--route {
		transform: translate3d(0, calc( 100vh - 155px), 0)
	}

	.stop-info--details {
		transform: translate3d(0, 100px, 0)
	}

	.stop-info__header, .stop-info__content {
		display: flex;
		// justify-content: center;
		position: relative;
	}
	
	.stop-info__content {
		flex-direction: row;
		flex: 1;
		margin-top: 20px;
		-webkit-transition: all 300ms cubic-bezier(0.420, 0.000, 0.000, 0.990); 
		-moz-transition: all 300ms cubic-bezier(0.420, 0.000, 0.000, 0.990); 
		-o-transition: all 300ms cubic-bezier(0.420, 0.000, 0.000, 0.990); 
		transition: all 300ms cubic-bezier(0.420, 0.000, 0.000, 0.990); /* custom */
		width: calc(100vw * 4);
	}

	.stop-info__content.destines{
		transform: translate3d(0, 0, 0)
	}

	.stop-info__content.previsionsByOrigin{
		transform: translate3d(-100vw, 0, 0)
	}

	.stop-info__content.previsionsByLine{
		transform: translate3d(-200vw, 0, 0)
	}

	.stop-info__content.previsionsByRoute{
		transform: translate3d(-300vw, 0, 0)
	}

	.stop-info__content > * {
		width: calc( 100vw - 20px);
		margin-right: 20px;
	}

	.stop-info__content > * md-list {
		position: relative;
	}


	.stop-info__btn{
		font-size: 1.7em;
		position: absolute;
		// top: -44px;
		top: -65px;
		color: #fff !important;
		background-color: #003e50 !important;
		margin: 0;
	}

	.leaflet-control-attribution { display: none;}

	.favorites-bar {
		position: absolute;
		display: flex;
		width: 100%;
		bottom: 0;
		justify-content: center;
		z-index: 999;
		padding: 15px 15px 5px 15px;

		> * {
			text-align: center;
			color: #093340;
			padding: 0 5px;
			max-width: 110px;

			.md-button  {
				background: #093340 !important;
				color: #fff !important;
				font-size: 25px
			}
		}

		// ref: https://codepen.io/martinwolf/pen/qlFdp
		$font-size:10px;
		$line-height: 1.4;
		$lines-to-show: 2;

		.favorites-bar__label {
			display: block; /* Fallback for non-webkit */
			display: -webkit-box;
			height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
			margin: 0 auto;
			font-size: $font-size;
			line-height: $line-height;
			-webkit-line-clamp: $lines-to-show;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		// .favorites-bar__label {
		// 	// white-space: nowrap;
		// 	// overflow: hidden;
		// 	// text-overflow: ellipsis;
		// 	// width: 100px;
		// 	// font-size: 10px;
		// 	// padding-right: 10px;

		// 	overflow: hidden;
		// 	text-overflow: ellipsis;
		// 	max-width: 90px;
		// 	font-size: 10px;
		// 	padding-right: 5px;
		// 	height: 28px;
		// 	line-height: 1.4;
		// 	-webkit-line-clamp: 2;
		// 	-webkit-box-orient: vertical;
		// 	margin: 0 auto;
		// 	display: block;
		// 	display: -webkit-box;
		// }

		background: rgba(255,255,255,0);
		background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,1)));
		background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
		background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
		background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
		background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
	}

	.auto-complete-panel{
		background-color: white;
		margin-top: 4px;
		box-shadow: 0 3px 8px 0 rgba( 0, 0, 0, 0.2 );
		height: 60vh;
		overflow-y: scroll;
		overflow-x: hidden;
		width: 96%;
		margin: auto;
		position: absolute;
		top: 45px;
		left: 2%;
		z-index: 99999;
	}


	.stop-info__route {
		display: flex;
		justify-content: center;
		flex-direction: column;
		width: 100%;
	
		hr {
			border: 1px dotted #dcd9c5;
			margin: 10px 0;
		}

		.stop-info__city {
			border-top: none;
		}
	}

	.not-founded {
		text-align: center;
    	margin: 50px auto;
		display: block;
		font-size: 14px;
	}

	.leaflet-top {
		top: 43px;
	}


	
	.clickable {
		md-list-item.md-no-style.md-button::before,
		md-list-item .md-no-style.md-button::after {
			content: '';
			position: absolute;
			bottom: 0;
			right: 0;
			border-color: transparent;
			border-style: solid;
		}

		md-list-item .md-no-style.md-button::after {
			border-radius: 0em;
			border-width: 0.6em;
			border-right-color: #eaeaea;
			border-bottom-color: #eaeaea;
		}
	}


	.stop-info__btn-routes{ right: 0% }
	.stop-info__btn-destination{ right: 20% }
	.stop-info__btn-favorite{ 
		right: 40%;

		&.is-favorite {
			color: rgb(255, 193, 7) !important;
		}
	}

	

	@media screen and (max-width : 320px) {
		.stop-info__btn {
			font-size: 1.5em;
			top: -60px;
			line-height: 46px;
			width: 46px;
			height: 46px;
		}
	}
	@media screen and (min-width : 320px) {
		.stop-info__btn-destination{ right: 18% }
		.stop-info__btn-favorite{ right: 36% }
	}

	@media screen and (min-width : 375px) {
		.stop-info__btn-destination{ right: 16% }
		.stop-info__btn-favorite{ right: 32% }
	}

	@media screen and (min-width : 768px) {
		.stop-info__btn-destination{ right: 8% }
		.stop-info__btn-favorite{ right: 16% }
	}

	@media screen and (min-width : 1024px) {
		.stop-info__btn-destination{ right: 6% }
		.stop-info__btn-favorite{ right: 12% }
	}
}
