<ion-view>
    <ion-nav-title>Transcol Online</ion-nav-title>
    <div class="transcol-online">
        <spinner ng-if="vm.isDetailsOpenned && uiState.loading"></spinner>
        <div class="stop-info" ng-class="{'stop-info--details': vm.isDetailsOpenned, 'stop-info--origin': vm.isSummaryOpenned, 'stop-info--route': vm.selectedOrigin && vm.selectedDestination }">
            <div class="stop-info__header">
                
                <md-button class="md-fab stop-info__btn-routes" ng-click="::vm.onPrevisionsButtonClick()">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                </md-button>

                <md-button class="md-fab stop-info__btn-destination" ng-click="::vm.onDestinationsButtonClick()" ng-if="vm.selectedOrigin && !vm.selectedDestination">
                    <i class="fa fa-map-signs" aria-hidden="true"></i>
                </md-button>

                <!--Origin Summary-->
                <stop-summary 
                    stop="vm.selectedOrigin" 
                    on-stop-click="::vm.panToStop(stop)"
                    on-close-click="::vm.unselectOrigin()" 
                    ng-if="vm.selectedOrigin && !vm.selectedDestination">
                </stop-summary>
                
                <!--Route Summary-->
                <div ng-if="vm.selectedOrigin && vm.selectedDestination" class="stop-info__route">
                    <stop-summary 
                        stop="vm.selectedOrigin" 
                        on-close-click="::vm.unselectOrigin()" 
                        on-stop-click="::vm.panToStop(stop)">
                    </stop-summary>
                    <hr>
                    <stop-summary 
                        stop="vm.selectedDestination" 
                        on-close-click="::vm.unselectDestination()" 
                        on-stop-click="::vm.panToStop(stop)" 
                        class="destination">
                    </stop-summary>
                </div>
            </div>
            <div class="stop-info__content" ng-class="{ destinations: vm.isShowingDestinations, 'previsionsByOrigin': vm.isShowingOriginPrevisions, 'previsionsByLine': vm.isShowingLinePrevisions, 'previsionsByRoute': vm.isShowingRoutePrevisions }">
                <destination-list 
                    class="clickable"
                    destinations="vm.destinations"
                    ng-class="{ 'shown': vm.isShowingDestinations }"
                    on-swipe-left="::vm.showOriginPrevisions()" 
                    on-destination-click="::vm.selectStop(destination);">
                </destination-list>
                <prevision-list 
                    class="clickable"
                    ng-class="{ 'shown': vm.isShowingOriginPrevisions }"
                    title="Previsões ({{vm.previsions.length}} linhas)" 
                    previsions="vm.previsions" 
                    on-swipe-right="::vm.showDestinations()"
                    on-prevision-click="::vm.showLinePrevisions({ identificadorLinha: prevision.identificadorLinha, linhaId: prevision.linhaId, pontoDeOrigemId: prevision.pontoDeOrigemId })" 
                    on-refresh-click="::vm.getOriginPrevisions(vm.selectedOrigin.id)">
                </prevision-list>
                <line-prevision-list 
                    ng-class="{ 'shown': vm.isShowingLinePrevisions }"
                    title="Previsões para a linha {{vm.selectedLine.identificadorLinha}}" 
                    line="vm.selectedLine.identificadorLinha"
                    previsions="vm.previsions"
                    on-swipe-right="::vm.showOriginPrevisions()"
                    on-refresh-click="::vm.getLinePrevisions(vm.selectedLine)">
                </line-prevision-list>
                <route-prevision-list
                    ng-class="{ 'shown': isShowingRoutePrevisions }" 
                    title="Previsões para a rota" 
                    previsions="vm.previsions"
                    on-refresh-click="::vm.getRoutePrevisions( this.selectedOrigin.id, this.selectedDestination.id )()">
                </route-prevision-list>
            </div>
        </div>
        <search-bar 
            ng-if="!vm.selectedOrigin && !vm.isDetailsOpenned && !vm.isRouteSelected" 
            placeholder="Pesquisar ponto de origem" 
            icon="fa-bus" 
            on-change="::vm.searchAll(text)" 
            on-clear="::vm.clearSearchResults()">
        </search-bar>
        <search-bar 
            ng-if="vm.selectedOrigin && !vm.isDetailsOpenned && !vm.isRouteSelected" 
            placeholder="Pesquisar ponto de destino" 
            icon="fa-bus" 
            on-change="::vm.searchPossibleDestinations(text)" 
            on-clear="::vm.clearSearchResults()">
        </search-bar>
        <ion-content>
            <div id="map"></div>
            <div class="auto-complete-panel" ng-if="vm.searchResults.length">
                <destination-list 
                    class="clickable"
                    destinations="vm.searchResults" 
                    on-destination-click="::vm.selectStop(destination)">
                </destination-list>
            </div>
        </ion-content>
    </div>
</ion-view>