/********************** Map **********************/

.keyboard-open .transcol-online .stop-info
{
	transform: translate3d(0px, 110vh, 0px);
}

.transcol-online {
	
	#map{
		height: 100vh;
		width: 100vw;
	}


	/********************** Markers **********************/
	.bus-stop-icon {
		border: 3px solid darked;
		background: #fff;
		border-radius: 50px;
	}

	.marker {
		color: rgb(185, 91, 104);
	}

	.marker .azimute {
		content: "";
		position: absolute;
		width: 47%;
		height: 43px;
		top: -50%;
		z-index: -1;
		background: url('img/seta_ponto_de_parada_dark.png') 50% 9% no-repeat;
		left: 30%;
		transform-origin: 44% 75%;
	}

	// gera classes para rotate (azimute)
	@for $i from 0 through 180 {
		.marker.dir-#{$i} .azimute { transform: rotate(#{$i}deg);}
		.marker.dir--#{$i} .azimute { transform: rotate(-#{$i}deg);}
	}

	.marker > i {
		border: 2px solid #b95b68;
		border-radius: 60px;
		background: #fff;
		padding: 5px 7px;
		font-size: 1.5em;
	}

	.marker-terminal > i {
		border-radius: 0px;
	}
	.marker-terminal > i:before {
		content: "T";
		font-weight: bold;
		font-family: verdana;
	}
	.marker-terminal .azimute, 
	.marker-destination .azimute {
		display:none;
	}

	// destination marker
	.marker-destination {
		color: #003e50;
		z-index: 9999 !important;
	}

	.marker-destination > i {
		border: 3px solid #003e50;
	}

	.marker-available-destination {
		color: #628b96;
	}

	.marker-available-destination> i {
		border: 2px solid #628b96;
	}

	// origin marker
	.marker-origin {
		color: darkgoldenrod;
		z-index: 9999 !important;
	}
	.marker-origin > i {
		border: 3px solid darkgoldenrod;
	}

	// secondary marker
	.marker-secondary {
		display: none;
		color: #d2cdce;
	}

	.marker-secondary > i {
		border: 2px solid #d2cdce;
	}

	.marker-secondary .azimute {
		background: url('img/seta_ponto_de_parada_light.png') 50% 9% no-repeat;
	}

	// spin marker
	.marker-spin > i {
		padding: 6px;
		font-size: 1.4em;
	}



	/********************** Cluster **********************/
	.marker-cluster-small {
		background-color: rgba(185, 91, 104, 0.8);
	}
	.marker-cluster-small div {
		background-color: rgb(185, 91, 104);
	}

	.marker-cluster-medium {
		background-color: rgba(185, 91, 104, 0.8);
	}
	.marker-cluster-medium div {
		background-color: rgb(185, 91, 104);
	}

	.marker-cluster-large {
		background-color: rgba(185, 91, 104, 0.8);
	}
	.marker-cluster-large div {
		background-color: rgb(185, 91, 104);
	}

	.marker-cluster {
		background-clip: padding-box;
		border-radius: 20px;
	}
	.marker-cluster div {
		width: 30px;
		height: 30px;
		margin-left: 5px;
		margin-top: 5px;

		text-align: center;
		border-radius: 15px;
		font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	}
	.marker-cluster span {
		line-height: 30px;
		color: #fff !important;
	}

	// .transcol-online .gps_ring {	
	//     border: 3px solid darkred;
	//     -webkit-border-radius: 30px;
	//     height: 33px;
	//     width: 33px;		
	//     -webkit-animation: pulsate 1s ease-out;
	//     -webkit-animation-iteration-count: infinite; 
	//     /*opacity: 0.0*/
	// }

	// @-webkit-keyframes pulsate {
	//     0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
	//     50% {opacity: 1.0;}
	//     100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
	// }
/********************** Bus Stop Info **********************/
	.origin { color: darkgoldenrod; }
	.destination{ color: #003e50; }

	stop-summary { cursor: pointer; }

	$bottomSheetHeight: 100vh;

	destination-list,
	prevision-list { visibility: hidden; }
	destination-list.shown,
	prevision-list.shown,
	.auto-complete-panel > * { visibility: visible !important; }

	.stop-info
	{
		width: 100%;
		// outline: 10px solid #dcd9c5;
		height: 100vh;
		z-index: 999;
		transform: translate3d(0px, 110vh, 0px);
		background: white;
		position: absolute;
		bottom: 0px;
		padding: 35px 15px 15px 10px;
		display: flex;
		flex-direction: column;
		-webkit-transition: all 400ms cubic-bezier(0.420, 0.000, 0.000, 0.990); 
		-moz-transition: all 400ms cubic-bezier(0.420, 0.000, 0.000, 0.990); 
		-o-transition: all 400ms cubic-bezier(0.420, 0.000, 0.000, 0.990); 
		transition: all 400ms cubic-bezier(0.420, 0.000, 0.000, 0.990); /* custom */
		-webkit-box-shadow: 0px -2px 5px -1px rgba(0,0,0,0.49);
		-moz-box-shadow: 0px -2px 5px -1px rgba(0,0,0,0.49);
		box-shadow: 0px -2px 5px -1px rgba(0,0,0,0.49);
	}

	.stop-info--origin {
		transform: translate3d(0, calc( 100vh - 98px), 0)
	}
	
	.stop-info--route {
		transform: translate3d(0, calc( 100vh - 155px), 0)
	}

	.stop-info--details {
		transform: translate3d(0, $bottomSheetHeight * 0.20, 0)
	}

	.stop-info__header, .stop-info__content {
		display: flex;
		// justify-content: center;
		position: relative;
	}
	
	.stop-info__content {
		flex-direction: row;
		flex: 1;
		margin-top: 20px;
		-webkit-transition: all 300ms cubic-bezier(0.420, 0.000, 0.000, 0.990); 
		-moz-transition: all 300ms cubic-bezier(0.420, 0.000, 0.000, 0.990); 
		-o-transition: all 300ms cubic-bezier(0.420, 0.000, 0.000, 0.990); 
		transition: all 300ms cubic-bezier(0.420, 0.000, 0.000, 0.990); /* custom */
		width: calc(100vw * 4);
	}

	.stop-info__content.destines{
		transform: translate3d(0, 0, 0)
	}

	.stop-info__content.previsionsByOrigin{
		transform: translate3d(-100vw, 0, 0)
	}

	.stop-info__content.previsionsByLine{
		transform: translate3d(-200vw, 0, 0)
	}

	.stop-info__content.previsionsByRoute{
		transform: translate3d(-300vw, 0, 0)
	}

	.stop-info__content > * {
		width: calc( 100vw - 20px);
		margin-right: 20px;
	}

	.stop-info__content > * md-list {
		position: relative;
		height: 65vh;
	}


	.md-fab{
		font-size: 1.7em;
		position: absolute;
		// top: -44px;
		top: -65px;
		color: #fff !important;
		background-color: #003e50 !important;
		margin: 0;
	}
	.stop-info__btn-favorite{
		// right: 0%;
	}

	.stop-info__btn-routes{
		// right: 14%;
		right: 0;
	}

	.stop-info__btn-destination{
		 // right: 28%;
		 right: 19%
	}

	.leaflet-control-attribution { display: none;}



	.auto-complete-panel{
		background-color: white;
		margin-top: 4px;
		box-shadow: 0 3px 8px 0 rgba( 0, 0, 0, 0.2 );
		height: 60vh;
		overflow-y: scroll;
		overflow-x: hidden;
		width: 96%;
		margin: auto;
		position: absolute;
		top: 42px;
		left: 2%;
		z-index: 99999;
	}


	.stop-info__route {
		display: flex;
		justify-content: center;
		flex-direction: column;
		width: 100%;
	
		hr {
			border: 1px dotted #dcd9c5;
			margin: 10px 0;
		}

		.stop-info__city {
			border-top: none;
		}
	}

	.not-founded {
		text-align: center;
    	margin: 67px;
		display: block;
		font-size: 14px;
	}

	.leaflet-top {
		top: 43px;
	}


	
	.clickable {
		md-list-item.md-no-style.md-button::before,
		md-list-item .md-no-style.md-button::after {
			content: '';
			position: absolute;
			bottom: 0;
			right: 0;
			border-color: transparent;
			border-style: solid;
		}

		md-list-item .md-no-style.md-button::after {
			border-radius: 0em;
			border-width: 0.6em;
			border-right-color: #eaeaea;
			border-bottom-color: #eaeaea;
		}
	}
}
