/*
 Primary and warn palettes

 md-primary': '500';
 md-hue-1': '300';
 md-hue-2': '800';
 md-hue-3': 'A100';
*/

/*
 Accent palette

 md-primary': 'A200';
 md-hue-1': 'A100';
 md-hue-2': 'A400';
 md-hue-3': 'A700';
*/
body {
	font-family: RobotoDraft, Roboto, Helvetica Neue, sans-serif;
}

/* App Header */
.platform-android .bar .title {
    margin-left: 0;
    margin-right: 30px;
}

ion-header-bar .back-button .ion-android-arrow-back {
	font-size: 1.8em;
}

ion-header-bar {
	border-style: none;
	color: white;
    background-size: 100% 0px !important;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

ion-header-bar .buttons .md-button.md-icon-button{
    margin-right: 0;
    padding: 0;
    width: 32px;
    height: auto;
    font-size: 24px;
}

ion-header-bar a.button-icon,
ion-header-bar a.button,
ion-header-bar .buttons .md-button.md-icon-button > md-icon{
    color: #fff !important;
}

ion-content {
    color: rgba(0,0,0,0.87);
    background-color: #fff;
    height: auto !important;
    /*position: static;*/
}


.text-center { text-align: center; }

.material-background {
	background-color: #208baa !important;
	border-style: none;
}

.material-background-nav-bar {
	background-color: #208baa !important;
	border-style: none;
}

.md-primary-color-bg {
	background-color: #208baa !important;
}

.md-primary-color {
	color: #208baa !important;
}

.capitalize {
   text-transform: capitalize;
}

/* Inputs */
md-input-container input[type=tel], md-input-container input[type=number] {
    border: solid;
    border-width: 0 0 1px;
}

/* Tabs */
.espm-header-no-shadow ion-header-bar {
    box-shadow: none !important;
}

.tabs-text-top > .tabs .tab-item {
	font-size: 14px;
	line-height: 49px;
	font-weight: 500;
	opacity: 1;
	color: rgba(255, 255, 255, 0.7);
	height: 49px;
	max-width: none !important;
}

ion-tabs.espm-tabs-color-active-material .tab-item.tab-item-active,
ion-tabs.espm-tabs-color-active-material .tab-item.active,
ion-tabs.espm-tabs-color-active-material .tab-item.activated {
	color: #fff;
	font-weight: bold;
}

.tabs-top > .tabs,
.tabs.tabs-top {
	top: 43px !important;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
	color: #fff;
}

/* Tabs - Android Specific */
body.platform-android ion-tabs.espm-tabs-color-active-material .tab-item.tab-item-active,
body.platform-android ion-tabs.espm-tabs-color-active-material .tab-item.active,
body.platform-android ion-tabs.espm-tabs-color-active-material .tab-item.activated {
	border-bottom-color: #c86673;
}

body.platform-android ion-content.espm-has-tabs-top {
	top: 0px;
}
/* Tabs - end */

loading-container .loading {
    background: none !important;
}

ion-content md-list { padding: 0 }

.hide-native-scroll-y {
	overflow-y: hidden !important;
}

.md-subheader-content { font-weight: bold;}
.md-subheader.md-espm-theme {
    background-color: #f5f5f5;
}

.fs-12 { font-size:12px;}
.fs-13 { font-size:13px;}
.fs-14 { font-size:14px;}
.fs-15 { font-size:15px;}
.fs-16 { font-size:16px;}

.accent {
	color: #c86673;
}

