<ion-view>
    <ion-nav-title>
		{{vm.city}}
	</ion-nav-title>
	<ion-nav-buttons side="left">
		<back-button></back-button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<md-button class="md-icon-button" ng-if="vm.items.length" ng-click="vm.showChart = !vm.showChart">
			<md-icon md-font-icon="fa fa-pie-chart">
			</md-icon>
		</md-button>
		<md-button class="md-icon-button" ng-click="vm.showFilter=true">
			<md-icon md-font-icon="ion-android-funnel">
			</md-icon>
		</md-button>
	</ion-nav-buttons>
	<spinner ng-if="uiState.loading"></spinner>
	<ion-content>
		<div id="public-works-by-city" ng-if="vm.items">
			<!-- componenu subheader-->
			<report-title title="vm.filter.description()" info="vm.info"></report-title>

			<!--chart component-->
			<pie-chart data="vm.chart" ng-show="vm.showChart"></pie-chart>

			<!--report list component-->
			<report-list ng-if="vm.items.length" sort="vm.sort">
				<report-list-summary on-sort-click="vm.sort = $locals.sort">
					<span class="total accent">{{vm.total | currency}}</span> ({{vm.quantity}} obras)
				</report-list-summary>
				<report-list-item ng-repeat="item in vm.items track by $index">
					<public-works-by-city-item item="item" show-legend="vm.showChart" ng-click="vm.openDetails(item)"></public-works-by-city-item>
				</report-list-item>
			</report-list>

			<!--last-update component-->
			<last-update date="vm.lastUpdate"></last-update>
		</div>

		<modal show="vm.showFilter" title="Obras">
			<year-filter on-change="vm.doFilter(vm.cityId, filter)" value="vm.filter"></year-filter>
		</modal>
		<error-message error="uiState.error"></error-message>
	</ion-content>
</ion-view>