<md-list md-no-ink id="menu-left-content">
	<md-list-item class="menu-list-item" ng-click="$ctrl.onHomeClick()" ng-if="!$ctrl.user.isAuthenticated">
		<i class="fa fa-sign-in"></i>
		<span>Login / Cadastre-se</span>
	</md-list-item>
	<div>
		<div ng-repeat="group in $ctrl.menu.groups">
			<md-subheader class="md-accent">{{::group[0].group}}</md-subheader>
			<md-list-item class="menu-list-item" ng-repeat="route in group" ng-click="::$ctrl.onItemClick( route )">
				<i class="{{::route.icon}}"></i>
				<span ng-class="{ 'not-authenticated': !$ctrl.user.isAuthenticated && route.secure }">{{::route.menuName}}</span>
			</md-list-item>
		</div>
		<md-divider></md-divider>
		<md-list-item class="menu-list-item" ng-click="$ctrl.onLogoutClick()" ng-if="$ctrl.user.isAuthenticated">
			<i class="ion-android-exit"></i>
			<span>Sair</span>
		</md-list-item>
	</div>
</md-list>
