#menu-left-content h2 {
	background-color: transparent !important;
}

#menu-left-content h2 div.md-subheader-inner {
	background-color: transparent !important;
}

#menu-left-content md-list-item.menu-list-item {
	width: 100%;
}

#menu-left-content span.not-authenticated {
	color: #a0a0a0
}

#menu-left-content md-list-item.menu-list-item i {
	margin-right: 30px;
	margin-left: 22px;
	font-size: 19px;
	color: #808080;
	width: 20px;
}

#menu-left-content md-list-item.menu-list-item span {
	font-size: 15px;
}

#menu-left-content .menu-list .menu-item {
	padding: 14px;
}

#menu-left-content .menu-list .menu-item .col-25 {
	text-align: center;
	font-size: 22px;
	color: #808080;
}

#menu-left-content .menu-list .menu-item .col-75 {
	font-size: 15px;
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
}

#menu-left-content .md-list-item-inner > span {
	width: 100%;
}