<ion-view>
    <ion-nav-title>ES na Palma da Mão</ion-nav-title>
    <ion-content id="no-access-component" class="md-padding">
        <div class="espm-home-logo">
            <img src="img/logo-es.png" alt="">
        </div>
        <div class="text-content">
            <p>Para ter acesso a essa e outras funcionalidades é preciso se cadastrar</p>
        </div>
        <div class="wrap-buttons">
            <md-button class="md-raised" md-colors="::{color: 'primary'}" md-no-ink="isAndroid" ng-click="vm.createAccount()">CADASTRE-SE
            </md-button>
            <md-button class="md-accent md-raised" md-no-ink="isAndroid" ng-click="vm.navigateToLogin()">ACESSE SUA CONTA
            </md-button>
        </div>
    </ion-content>
</ion-view>