.bdi {
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
}

.bdi > div  {
   color: rgba(115, 114, 114, 0.87);
}

.bdi > div {
     flex: 1;
     box-sizing: border-box;
     flex-direction: column;
     display: flex;
}

.bdi .bdi-item-label {
     margin: 5px 0;
     color: #333;
 }

.bdi .bdi-value {
      color: #c86673;
 }

.bdi .bdi-percentage {
     flex: 0;
     font-weight: bold;
     font-size: 2em;
     color: #c86673;
     margin-left: 8px;
 }