
report-list-item md-list-item{
    &.md-no-proxy.r-item, 
    &.md-no-style.r-item {
        padding: 0;
        align-content: stretch;
        height: auto;
        min-height: 72px;
    }

    & > * {
        flex:1;
    }
}

