.public-works-status {
    font-weight: bold;
    min-width: 100px;
    color: #707070;
}

.public-works-status__icon {
    font-size: 20px;
}

.public-works-status--is-Concluída .public-works-status__icon {
    color: #68903b;
}

.public-works-status--is-Iniciada .public-works-status__icon {
    color: #03a9f4;
}

.public-works-status--is-Paralisada .public-works-status__icon {
    color: firebrick;
}

.public-works-status--is-Reiniciada .public-works-status__icon {
    color: #03a9f4;
}