<div class="public-works-status public-works-status--is-{{$ctrl.status}}" ng-if="$ctrl.status" ng-switch="$ctrl.status">
    <i ng-switch-when="Concluída" class="public-works-status__icon fa fa-check-circle"></i>
    <i ng-switch-when="Iniciada" class="public-works-status__icon fa fa-play-circle"></i>
    <i ng-switch-when="Paralisada" class="public-works-status__icon fa fa-stop-circle"></i>
    <i ng-switch-when="Reiniciada" class="public-works-status__icon fa fa-play-circle"></i>
    <i ng-switch-default class="public-works-status__icon fa fa-exclamation-circle"></i> {{$ctrl.status}}
</div>