.public-works-status {
    font-weight: bold;
    min-width: 100px;
    color: #707070;
    
    &__icon{ font-size:20px;}
    &--is-Concluída &__icon { color: #68903b; }
    &--is-Iniciada &__icon { color: #03a9f4; }
    &--is-Paralisada &__icon { color: firebrick; }
    &--is-Reiniciada &__icon { color: #03a9f4; }
}
