.default-item {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 20px;
    border-left-width: 0;
    border-left-style: solid;
    min-height: 72px;
}

.default-item--legended {
    border-left-width: 10px;
    padding-left: 10px;
}

.default-item > * {
    flex: 1;
    padding-top: 10px;
    padding-bottom: 10px;
}

.default-item__label {
    font-size: 1.1em;
    white-space: normal;
    margin: 0;
    color: #333;
}

.default-item__percentage, 
.default-item__value {
    color: #c86673;
    margin: 3px 0 0 0;
}

.default-item__percentage {
    font-weight: bold;
    font-size: 2em;
    margin-left: 8px;
    flex: 0;
}

.default-item__btn-detail {
    flex: 0;
    margin-left: 10px;
}
.default-item__btn-detail:before {
    color: #ccc;
    font-family: FontAwesome;
    content: '\f054';
}

.expenses .default-item__value, 
.expenses .default-item__percentage {
    color: #b14139;
}
.revenues .default-item__percentage, 
.revenues .default-item__value {
    color: #73905a;
}

